@import url(/pagina-inicial/css/global.css);

.banner {
  background-image: url(/pagina-inicial/public/banner-image.png);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 352px;
  position: relative;
}

.banner-text {
  text-align: start;
  position: absolute;
  bottom: 8%;
  left: 10%;
}

.banner-text h1,
.banner-text h4 {
  color: #fff;
}

.banner-text h1 {
  font-size: 52px;
  margin-bottom: 20px;
}

.banner-text h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.banner-text button {
  color: #fff;
  background-color: var(--corPadrao);
  border: none;
  padding: 12px;
}

@media (max-width: 769px) {
  .banner-text {
    left: 3%;
  }
}

@media (max-width: 500px) {
  .banner-text h1 {
    font-size: 32px;
  }
  .banner-text h4 {
    font-size: 18px;
  }
}
